.guide-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.booking-form {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.booking-form form{
    
    display: flex;
    flex-direction: column;
    
}

.booking-form input, textarea {
    width: 40%;
    margin-bottom: 10px;
}

.guide-details {
    margin: auto;
    background-color: black;
}

.booking-card{
    width: 28rem;
}



 /* Make Responsive */
 @media only screen and (max-width: 688px) {
    .booking-form {
        background-color: black;
        height: 500px;
    }
    .booking-form input, textarea {
        width: 100%;
        margin-bottom: 10px;
    }
    .guide-info {
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .card{
        width: 100%;
        margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 689px) and (max-width: 991px) {
    .booking-form {
        background-color: black;
        height: 500px;
    }

    .booking-form input, textarea {
        width: 90%;
        margin-bottom: 10px;
    }
    .card{
        width: 80%;
        margin-bottom: 20px;
    }
  }